<html>
	<meta name="viewport" content="width=50 height=100, initial-scale=1.0"/>
	<script defer type="text/javascript" src="/static/dashboard.js"></script>
    <link href='/static/dashboard.css' rel='stylesheet'>

	<body>

		<div id="server-info" class="panel wide-panel">
			<h1>Thecnopapa's Project Zomboid server</h1>
			<a href="https://zomboid.thecnopapa.com"=>zomboid.thecnopapa.com</a>

		</div>
		<div class="panels">
			<div id="player-info" class="panel">

			</div>
			<div id="map-info" class="panel">
				
			</div>
		</div>

<!-- 		<input id="password-input" type="password" value=""/><br>
		{% for server in avail_servers %}
		<button onclick="requestRestart('{{server}}')">Restart {{server}}</button><br>
		{% endfor %} -->

	</body>
</html>
