<html>
	<meta name="viewport" content="width=50 height=100, initial-scale=1.0"/>
	<script defer type="text/javascript" src="/static/dashboard.js"></script>
    <link href='/static/dashboard.css' rel='stylesheet'>

	<body>

		<div id="main-info" class="panel wide-panel">
			<h1>Thecnopapa's Project Zomboid server</h1>
			<a href="https://zomboid.thecnopapa.com"=>zomboid.thecnopapa.com</a>

		</div>
		<div class="panels">
			<div id="server-info" class="panel">
				<h2>Server</h2>
				<h3>Status: <span class="server-status">STOPPED</span></h3>
				<h4>Version: <span class="server-version">42.20</span></h4>

			</div>
			<div id="player-info" class="panel">
				<h2>Players</h2>
				<h3>Unique players: <span class="player-number">5</span></h3>
				<h3>Online players: <span class="player-number">0/16</span></h3>
				<h3>Player ranking (latest save)</h3>
				<ol>
					<li><b>Thecnopapa</b> (blacksmith): survived 10 days and 8 hours</li>
				</ol>
				
			</div>
			<div id="mods-info" class="panel">
				<h2>Mods</h2>
				
			</div>
			<div id="map-info" class="panel">
				<h2>Map</h2>
				
			</div>
		</div>

<!-- 		<input id="password-input" type="password" value=""/><br>
		{% for server in avail_servers %}
		<button onclick="requestRestart('{{server}}')">Restart {{server}}</button><br>
		{% endfor %} -->

	</body>
</html>
