<html>
	<meta name="viewport" content="width=50 height=100, initial-scale=1.0"/>
	<script defer type="text/javascript" src="/static/dashboard.js"></script>
    <link href='/static/dashboard.css' rel='stylesheet'>

    {% if info.status_int > 1 %}
    <script>
    	setTimeout(function(){
		   window.location.reload();
		}, 1000);
	</script>
	{% endif %}


	<body>

		<div id="main-info" class="panel wide-panel">
			<h1>Thecnopapa's Project Zomboid server</h1>
			<a href="https://zomboid.thecnopapa.com"=>zomboid.thecnopapa.com</a>

		</div>

		<div id=user-info>
		{% if info.user != None %}
		Logged in as {{ info.user }}
		<button id=go-to-login onclick="window.location.href='/logout'")>Log Out</button>
		{% else %}
		Not logged in
		<button id=go-to-login onclick="window.location.href='/login'")>Log In</button>
		{% endif %}
		</div>
		<div class="panels">
			<div id="server-info" class="panel">
				<h2>Server</h2>
				<h3>Status: <span class="server-status">{{ info.status }} ({{ info.status_int }})</span></h3>
				<button id="refresh-status" onclick="window.location.reload()">Refresh</button>
				<h4>Name: {{ info.server_name }}</h4>
				<h4>Version: <span class="server-version"> {{ info.version }}</span></h4>
				{% if info.status == "stopped" %}
					<button id=server-start onclick="serverStart()">Start</button>
				{% endif %}
				{% if info.admin %}
					<button id=server-restart onclick="serverRestart()">Restart</button>
					<button id=server-restart onclick="serverUnstuck()">Unstuck</button>
					{% if info.status == "stopped" %}
						<select id="server-select">
							{% for name in info.servers %}
							<option value="{{ name }}" {{ "selected" if name == info.server_name }}>{{ name }}</option>
							{% endfor %}
							}
						</select>
						<button id="change-server" onclick="serverChange()">Change Server</button>
					{% else %}
						<button id=server-stop onclick="serverStop()">Stop</button>
					{% endif %}
				{% endif %}

			</div>
			<div id="player-info" class="panel">
				<h2>Players WIP</h2>
				<h3>Total players: <span class="player-number">5</span></h3>
				<h3>Online players: <span class="player-number">0/16</span></h3>
				<h3>Player ranking (latest save)</h3>
				<ol>
					<li><b>Thecnopapa</b> (blacksmith): survived 10 days and 8 hours</li>
				</ol>
				
			</div>
			<div id="mods-info" class="panel">
				<h2>Mods WIP</h2>
				
			</div>
			<div id="map-info" class="panel">
				<h2>Map WIP</h2>
				
			</div>
		</div>

<!-- 		<input id="password-input" type="password" value=""/><br>
		{% for server in avail_servers %}
		<button onclick="requestRestart('{{server}}')">Restart {{server}}</button><br>
		{% endfor %} -->

	</body>
</html>
